<div class="social-links">
  {%- if site.github_username -%}
  <a href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github"></i>
    <span class="username">GitHub</span>
  </a>
  {%- endif -%}
  
  {%- if site.linkedin_username -%}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin"></i>
    <span class="username">LinkedIn</span>
  </a>
  {%- endif -%}
  
  {%- if site.twitter_username -%}
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter"></i>
    <span class="username">Twitter</span>
  </a>
  {%- endif -%}
</div> 